#addTransaction {
    width: 100%;
    padding: 2%;
    padding-left: 4%;
}

#addTransaction-name {
    width: 100%;
}

#addTransaction-name-text {
    margin-top: 0;
}

#addTransaction-name-input {
    width: calc(100% - 1rem);
    height: 4rem;
    background-color: transparent;
    border-radius: 1.5rem;
    border: 2px solid;
    outline: none;
    font-size: x-large;
    padding-left: 1rem;
    align-items: center;
}

#addTransaction-amount-inputs {
    width: 100%;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#addTransaction-amount-inputs * {
    background-color: transparent;
    border-radius: 1.5rem;
    border: 2px solid;
    outline: none;
    font-size: x-large;
    padding-left: 1rem;
    align-items: center;
}

#addTransaction-account {
    width: 100%;
}

#addTransaction-account-input {
    background-color: transparent;
    border-radius: 1.5rem;
    border: 2px solid;
    outline: none;
    font-size: x-large;
    padding-left: 1rem;
    align-items: center;
    width: calc(100%);
    height: 4rem;
}

#addTransactionbutton {
    width: 100%;
    height: 4rem;
    font-size: x-large;
    margin-top: 5rem;
    border-radius: 1.5rem;
    border: 2px solid;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 75rem) {

    #addTransaction {
        margin: 0;
    }

    #addTransaction-amount-inputs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 20rem;
    }

    #addTransactionbutton {
        margin-bottom: 10rem;
    }
}