.assets {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgb(174, 174, 174);
    font-size: 1.4em;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

.assets p {
    margin-bottom: 0.3em;
    margin-top: 1rem;
}

#assets-graph {
    background-color: #ececec;
    height: 3rem;
    border-radius: 0.7rem;
    display: flex;
    gap: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    align-items: center;
    margin-bottom: 0.5rem;
    align-self: center;
}

.asset {
    border-radius: 0.7rem;
    height: 2.3rem;
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;

}

.asset p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.assets-hover {
  display: none;
}

#assets-graph:hover + .assets-hover {
  display: flex;
  background-color: #6c6c6c;
  color: #ececec;
  padding: 1rem;
  border-radius: 0.7rem;
  top: 1vh;
  z-index: 1;
}

.assets-0 {
    background-color: aqua;
}
.assets-1 {
    background-color: red;
}
.assets-2 {
    background-color: pink;
}
.assets-3 {
    background-color: greenyellow;
}
.assets-4 {
    background-color: yellow;
}
.assets-5 {
    background-color:azure;
}
.assets-6 {
    background-color:chocolate;
}
.assets-7 {
    background-color:steelblue;
}
.assets-8 {
    background-color:orange;
}
.assets-9 {
    background-color:darksalmon;
}