#wrapper {
    display: flex;
    display: grid;
    grid-template-columns: 15rem auto;
    width: 100vw;
    height: 100vh;
}

#leftBar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

#leftBar-back {
    color: gray;
}

.leftBar-item {
    text-align: start;
    background-color: transparent;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.leftBar-item svg {
    height: 1em;
}

.leftBar-item:hover {
    background-color: rgb(235, 235, 235);
}

.leftBar-folder {
    font-weight: bold;
}

#leftBar-buttons {
    width: 13rem;
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}